<%= @stations.each do |station| %>
<table>
  <tr>
    <th>Station Name</th>
    <th>Address</th>
    <th>Fuel Type</th>
    <th>Distance</th>
    <th>Access Time</th>
  </tr>
  <tr>
      <td><%= station.name %></td>
      <td><%= station.address %></td>
      <td><%= station.fuel_type %></td>
      <td><%= station.distance %></td>
      <td><%= station.access_time %></td>
  </tr>
</table>
<% end %>
